<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <h1>7IM Take Home Test</h1>
      </div>
      <p class="text-center">Please click on the search tab to begin searching for people</p>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Paul Shimmen</h3>
      </div>
      <div class="text-center">shimmenp@gmail.com</div>
    </div>
  </div>
</div>
